.limbo-models-builder h3 {
  margin-top: 0;
}
.limbo-models-builder .alert {
  margin-bottom: 0;
}
.limbo-models-builder table.table.details tr th {
  width: 120px;
  min-width: 120px;
}
.limbo-models-builder.loading table {
  opacity: 0.5;
}
.limbo-models-builder .umb-box-content {
  position: relative;
}
.limbo-models-builder .umb-load-indicator {
  z-index: 9001;
}