<div class="limbo-models-builder" ng-controller="Limbo.Umbraco.ModelsBuilder.Dashboard.Controller as vm" ng-class="{loading: vm.loading}">
    <div class="umb-box">
        <div class="umb-box-content">
            <div class="pull-right" aria-hidden="false">
                <umb-button
                    action="vm.generate()"
                    type="button"
                    state="vm.generateButtonState"
                    label="Generate"
                    disabled="vm.loading">
                </umb-button>
                <umb-button
                    action="vm.update()"
                    type="button"
                    state="vm.reloadButtonState"
                    label="Reload"
                    disabled="vm.loading">
                </umb-button>
            </div>
            <h3 class="bold">Limbo Models Builder</h3>
            <div class="alert alert-danger" ng-if="vm.status.isOutOfDate">Models are <strong>out-of-date</strong>.</div>
            <div class="alert alert-success" ng-if="!vm.status.isOutOfDate">Models are <strong>up-to-date</strong>.</div>
            <div ng-show="vm.status">
                <table class="table details">
                    <tr>
                        <th>Version</th>
                        <td>{{vm.status.version}}</td>
                    </tr>
                    <tr>
                        <th>Mode</th>
                        <td>{{vm.status.mode}}</td>
                    </tr>
                    <tr>
                        <th>Models last generated</th>
                        <td>
                            <span ng-show="vm.status.lastBuildDate">
                                {{vm.status.lastBuildDate | date: 'yyyy-MM-dd HH:mm'}}
                                <small>({{vm.status.lastBuildDateFrom}})</small>
                            </span>
                            <span ng-show="!vm.status.lastBuildDate">
                                <em>Unknown</em>
                            </span>
                        </td>
                    </tr>
                </table>
                <div class="links" ng-if="vm.status.links.length > 0">
                    <a class="btn btn-default" href="{{link.url}}" target="{{link.target}}" rel="{{link.rel}}" ng-repeat="link in vm.status.links">
                        <i class="{{link.icon}}"></i>
                        {{link.text}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <umb-load-indicator ng-show="vm.loading"></umb-load-indicator>
</div>