.limbo-models-builder {
  position: relative;
}
.limbo-models-builder h3 {
  margin-top: 0;
}
.limbo-models-builder table.table.details tr th {
  width: 150px;
  min-width: 150px;
}
.limbo-models-builder.loading table {
  opacity: 0.5;
}
.limbo-models-builder .umb-load-indicator {
  z-index: 9001;
}
.limbo-models-builder .links {
  margin-top: 20px;
  display: flex;
}
.limbo-models-builder .links .btn {
  display: block;
  margin-right: 10px;
}
.limbo-models-builder .links i.fa {
  margin-right: 5px;
}